.h10 {height: 10px;}
.row {display: -webkit-box;display: -webkit-flex;}
.col {-webkit-box-flex:1; -webkit-flex:1; flex:1;}

/* 头部导航样式 */
.header {position: relative;height: 50px;line-height: 50px;background-color: #3993cf;}
.header .left  {position: absolute;left: 0;height: 50px;}
.header .right {position: absolute;right: 0;height: 50px;}
.header .right img {height: 30px;padding: 10px;}

.shopdetal{background-color: #eee;}
.shopdetal .item {background-color: #fff;height: 60px;}
.shopdetal .item .itemlogo  {padding: 2px;border: 1px solid #e0e0e0;float: left;margin-top: 5px;margin-left: 15px;}
.shopdetal .item .itemlogo img {width: 40px;}
.shopdetal .item .itemshelf {display: inline-block;margin-left: 10px;}
.shopdetal .item .itemshelf .shelfinfo02 img {height: 14px;margin-top: 5px;}
.shopdetal .item .itemshelf .shelfinfo01 {margin-top: 10px;}
.shopdetal .item .collect {float: right;color: #fff;background-color: #3893CF;padding: 5px 15px;margin-right: 10px;margin-top: 15px;}

.shopdetal .row {background-color: #fff;}
.shopdetal .col {text-align: center;border-right: 1px solid #e0e0e0;}
.shopdetal .col:last-child {border-right: 0;}
.shopdetal .col .title {font-size: 20px;margin-top: 15px;}
.shopdetal .col .subtitle {font-size: 12px;color: #666;margin-top: 5px;margin-bottom: 10px;}
/*.section1con {border: 1px solid #e0e0e0;}*/


/* card 样式*/
.shopdetal .cardtitle {height: 40px;line-height: 40px;background-color: #fff;padding-left: 10px;color: #888;font-size: 18px;}
.shopdetal .cardcon {background-color: #fff;padding: 10px;font-size: 14px;line-height: 20px;color: #555;}
.shopdetal .jian {color: #fff;font-size: 12px;background-color: #cd22e2;padding: 1px;border-radius: 3px;margin-right: 5px;}
.shopdetal .pei {color: #fff;font-size: 12px;background-color: #82782f;padding: 1px;border-radius: 3px;margin-right: 5px;}
.shopdetal .ticket {color: #fff;font-size: 12px;background-color: #3585b7;padding: 2px;border-radius: 3px;margin-right: 5px;}
.shopdetal .support div:last-child {margin-top: 5px;}
.shopdetal .desc div .zhongshi {color: #fff;background-color: #bbb;padding: 3px;border-radius: 3px;font-size: 12px;margin-bottom: 5px;}
/* 外部包裹 */
.shopdetal .isoarea {margin:10px 10px 0 10px;border: 1px solid #e0e0e0;border-bottom: 0; }
.shopdetal .isoarea2 {margin:0px 10px 0 10px;border: 1px solid #e0e0e0;}

/* 悬浮样式 */
.shopdetal .itemhover {background-color: #eee !important;}
.shopdetal .collect-hover {background-color: rgba(56, 147, 207, 0.4) !important;}