.h10 {height: 10px;}
.h50 {height: 50px;}
/* section 1 */
.section01 {height: 30px;line-height: 30px;text-align: center;color: #fff;background-color: #5AB06C;}

.detal {position:relative;background-color: #eee;}
/**/
.detal .item {display: table; height: 70px; width: 100%;}
.detal .item .itemlogo , .detal .item .itemshelf {display: table-cell; vertical-align: middle;float: left;}

.detal .item .itemlogo {width: 70px;}
.detal .item .itemlogo img  {margin-left: 10px;width: 40px;}
.detal .item .itemshelf .shelfinfo01 {font-size: 20px;color: #000;}

.detal .item {background-color: #fff;position: relative;border-bottom: 1px solid #d3d3d3;}
.detal .item .itemlogo {position: absolute; top: 10px;}
.detal .itemshelf {margin-left: 15px;display: block;/* 不再显示为table-cell */}
.detal .item .userlogo img {width: 40px;padding: 2px; border: 1px solid #e7e7e7;border-radius: 2px;}
.detal .itemshelf .shelfinfo01 {color: #000;font-size: 16px;line-height: 18px;margin-top: 10px;}
.detal .itemshelf .ordering{color: #fff;font-size: 12px;background-color: #5bb06c;padding: 2px 4px;display: inline-block;}
.detal .style2 .itemshelf .shelfinfo03 {color: #999;font-size: 12px;margin-right: 10px;border-bottom: 0;padding: 3px 0 5px 0;}
.detal .itemshelf .staring {color: #999;font-size: 12px;line-height: 14px;margin-top: 5px;margin-bottom: 20px;}
.detal .itemshelf .staring img {height: 12px;}

.detal .item .buybtn {display: table-cell; vertical-align: middle;}  /*抽象布局信息*/
.detal .item .buybtn p {color: #fff;background-color: #3893CF;float: right;padding: 5px 10px;margin-right: 10px;}

/* */
.detal .shopcover {width: 100%;}
.detal .section02 .itemshelf .shelfinfo03 {color: #999; font-size: 14px; margin-right: 10px; border-bottom: 0; padding: 5px 0 5px 0;}
.detal .section02 .buybtn {display: table-cell; vertical-align: middle;}  /*抽象布局信息*/
.detal .section02 .buybtn p {color: #fff;background-color: #5AB06C;float: right;padding: 5px 10px;margin-right: 10px;font-size: 14px;line-height: 20px;}
.detal .section02 .buybtn .weixin {height: 20px; vertical-align: top; margin-right: 5px;}

.detal .minusorder {float: right;display: none;position: relative;}
.detal .minus {color: #fff; background-color: #3893CF; float: right; padding: 5px;margin-right: 15px;}
.detal .numbg {height: 20px; margin-top: 5px; vertical-align: top;float: right;margin-right: 15px;}
.detal .thisordernum {position: absolute; right: 16px; top: 5px; color: #fff; width: 20px; text-align: center; height: 20px;}
/* 暗色标题 */
.detal .darktitle {height: 30px;line-height: 30px;color: #787878;margin-left: 15px;font-size: 14px;}

/* 底部信息 */
.detal .bottom {height: 50px;background-color: #2f373e;position: fixed;bottom: 0;width: 100%;}
.detal .bottom img {height: 30px;margin-top: 10px;margin-left: 15px;vertical-align: top;}
#minbuy {float: right;color: #fff;background-color: #404850;padding: 5px 10px;margin: 11px 10px 0 0;}
#buyit {float: right;color: #fff;background-color: #4DC060;padding: 5px 10px;margin: 11px 10px 0 0;display: none;}
.detal .bottom .buyinfo {height: 50px; line-height: 50px; color: #fff;display: none;}
.detal .bottom .buyinfo span {color: #fff;}

/* 悬浮样式 */
.detal .itemhover {background-color: #eee !important;}
.detal .total-hover {background-color: rgba(77, 192, 96, 0.6) !important;}